.authNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.link:hover,
.link.active {
    background-color: #3d4351;
    color: #2cd197;
}

@media screen and (min-width: 760px) {
    .authNav {
        flex-direction: row;
        gap: 16px;
    }

    .link {
        font-size: 18px;
        padding: 8px 16px;
    }
}

@media screen and (min-width: 1200px) {
    .link {
        font-size: 20px;
        padding: 10px 20px;
    }
}